* {
  box-sizing: border-box; }

html {
  margin: auto 0; }

.flex-container {
  display: flex;
  flex-wrap: wrap; }

.row {
  flex: 1; }

header {
  width: 100%;
  height: 100vh;
  text-align: center; }

body {
  font-family: "Roboto", sans-serif;
  color: #000;
  margin: auto 0; }

p {
  padding-bottom: 0.625em;
  font-size: 1em;
  line-height: 1.6; }

button {
  all: unset; }

h1 {
  margin: 0px; }

h2 {
  font-size: 8em;
  font-family: "Lato", sans-serif;
  font-weight: 200;
  padding: 0.25em 0em 0.25em 1em; }

.hidden {
  display: none; }

.bg-img {
  background-image: url("../images/header.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  filter: blur(1.5px);
  -webkit-filter: blur(1.5px); }

.hello {
  position: absolute;
  font-size: 8em;
  text-align: left;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  z-index: 2;
  top: 20%;
  left: 30%; }

.name, .header-accent {
  color: #FAC843;
  font-weight: 600;
  text-shadow: 2px 2px white; }

.header-accent {
  text-shadow: 2px 2px black; }

.fa-arrow-circle-down {
  font-size: 4em;
  padding-top: 2em; }
  .fa-arrow-circle-down:hover {
    color: #FAC843;
    cursor: pointer; }

.description {
  margin-left: 20em;
  margin-right: 9.375em;
  max-width: 50%; }

footer p {
  padding: 2em; }

footer .fa-linkedin, footer .fa-envelope {
  color: #000; }
  footer .fa-linkedin:hover, footer .fa-envelope:hover {
    color: #FAC843; }

@media only screen and (max-width: 765px) {
  .hello {
    font-size: 6em;
    left: 10%; }
  h2 {
    font-size: 4em; }
  .row {
    flex-direction: column; }
  .description {
    margin-left: 4.375em;
    margin-right: 4.375em;
    max-width: 100%; } }
