//VARIABLES
$heading-font: 'Lato', sans-serif;
$body-font: 'Roboto', sans-serif;

$yellow: #FDF038;

.flex-container {
	display: flex;
}

* {
  box-sizing: border-box;
}

.row{
	display: flex;
	flex-wrap: wrap;
	margin: 0 6.25em 0 6.25em;
}

header{
	width: 100%;
	height: 100vh;
	text-align: center;
}

body {
	font-family: $body-font;
	color: #000;
	margin: auto 0;
}

p {
	margin: 0 0 10px;
	font-size: 1em;
	line-height: 1.6;
}

button {
	all: unset;
}

h1 {
	margin: 0px;
}

h2 {
	font-size: 8em;
	font-family: $heading-font;
	font-weight: 200;
	padding: 80px 0px 30px 40px;
}

.hidden {
	display: none;
}

.bg-img {
	background-image: url('../images/header.jpg');
	background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
	height: 100%;
	filter: blur(1.5px);
  -webkit-filter: blur(1.5px);
}

.hello {
	position: absolute;
	font-size: 8em;
	text-align: left;
	font-family: $heading-font;
	font-weight: 400;
	z-index: 2;
	top: 20%;
	left: 30%;
}

.name {
	color: $yellow;
	font-weight: 600;
	// text-shadow: 2px 2px;
}

.fa-arrow-circle-down {
	font-size: 4em;
	padding-top: 2em;

	&:hover {
		color: $yellow;
		cursor: pointer;
	}
}

.about, .timeline {
	flex: 70%;
	padding-right: 15em;

	p {
		margin-left: 150px;
		margin-right: 150px;
	}
}

.timeline {
	text-align: right;
}

.photo {
	flex: 30%;
	padding-top: 130px;

	.profile-img {
		border-radius: 50%;
		width: 75%;
	}
}

.experience {
	font-size: 0.75em;
	margin-left: 150px;
}

footer {
	p {
		padding: 2em;
	}
	.fa-linkedin, .fa-envelope {
		color: #000;

		&:hover {
			color: $yellow;
		}
	}
}

@media screen and (max-width: 700px) {
  .row {
    flex-direction: column;
  }
}
